.bg-scene1 {
  background-image: url("../images/backgrounds/bg-scene1.jpg");
}

.img-scene1 {
  content: url("../images/me/pngwing.com.png");
}

.img-scene1-chg {
  content: url("../images/me/pngwing.com.png");
}

el {
  color: green;
  -webkit-animation: color-change 5s linear infinite;
  animation: color-change 5s linear infinite;
}

.txt-scene1 {
  background-image: url("../images/speechBubbles/speech-bubble1.png");
}

.txt-scene1-chg {
  background-image: url("../images/speechBubbles/speech-bubble1.png");
}

.first-speech-scene1,
.second-speech-scene1 {
  position: relative;
}

/* Ultra Super Extra small devices (phones, 399px and down) */
@media only screen and (max-width: 399px) {
  .first-speech-scene1 {
    top: 30px;
    font-size: 1rem;
  }

  .second-speech-scene1 {
    top: 25px;
    font-size: 1.2rem;
  }
}

/* Super Extra small devices (phones, between 400px and 499px) */
@media only screen and (min-width: 400px) and (max-width: 499px) {
  .first-speech-scene1 {
    top: 50px;
    font-size: 1.5rem;
  }

  .second-speech-scene1 {
    top: 45px;
    font-size: 1.5rem;
  }
}

/* Extra small devices (phones, 500px and up) */
@media only screen and (min-width: 500px) {
  .first-speech-scene1 {
    top: 50px;
    font-size: 1.4rem;
  }

  .second-speech-scene1 {
    top: 45px;
    font-size: 1.7rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .first-speech-scene1 {
    top: 65px;
    font-size: 1.5rem;
  }

  .second-speech-scene1 {
    top: 70px;
    font-size: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .first-speech-scene1 {
    top: 60px;
    font-size: 1.5rem;
  }

  .second-speech-scene1 {
    top: 60px;
    font-size: 1.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .first-speech-scene1 {
    top: 65px;
    font-size: 1.5rem;
  }

  .second-speech-scene1 {
    top: 65px;
    font-size: 1.7rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .first-speech-scene1 {
    top: 70px;
    font-size: 1.6rem;
  }

  .second-speech-scene1 {
    top: 60px;
    font-size: 2rem;
  }
}

/* Super Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .first-speech-scene1 {
    top: 87px;
    font-size: 1.8rem;
  }

  .second-speech-scene1 {
    top: 90px;
    font-size: 2rem;
  }
}

/* Iphone 6/7/8 Plus Landscape */
@media only screen and (max-width: 736px) and (max-height: 414px) and (orientation: landscape) {
  .first-speech-scene1 {
    top: -40px;
    font-size: 1.2rem;
  }

  .second-speech-scene1 {
    top: -35px;
    font-size: 1.5rem;
  }
}
